<?xml version="1.0" encoding="UTF-8"?>


<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-rtsp-w3"
      version="1.0">
    <name>RTSP</name>
    <description>RTSP Player Plugin</description>
    <license>Apache 2.0</license>
    <keywords>RTSP</keywords>

    <engines>
        <engine name="cordova-android" version=">=3.6.0" />

    <js-module src="www/module.js" name="Rtsp">
        <!-- acessa como navigator.RtspW3 -->
        <clobbers target="navigator.rtsp" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <!-- NOME QUE O cordova exec vai chamar e o mapa da classe principal-->
            <feature name="Rtsp">
                <param name="android-package" value="org.apache.cordova.rtsp.Rtsp"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            
            <activity android:label="RTSP" android:name="org.apache.cordova.rtsp.RtspActivity">
            </activity>

            <activity android:name="io.vov.vitamio.activity.InitActivity" 
       android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
       android:launchMode="singleTop"
        android:theme="@android:style/Theme.NoTitleBar"
        android:windowSoftInputMode="stateAlwaysHidden"/>     
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />

        </config-file>

        <source-file src="src/android/FakeR.java"          target-dir="src/org/apache/cordova/rtsp" />
        <source-file src="src/android/Rtsp.java"         target-dir="src/org/apache/cordova/rtsp" />
        <source-file src="src/android/RtspActivity.java" target-dir="src/org/apache/cordova/rtsp" />

        <source-file src="src/android/res/layout/rtsp_activity.xml" target-dir="res/layout"/>

        <framework src="build.gradle" custom="true" type="gradleReference" />

    </platform>

</plugin>
